.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.formcontainer {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 0.75em;
  font-weight: 400;
  padding: 2%;
}
.btnbuy {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 2% 0;
  color: black;
  font-size: 16px;
  letter-spacing: 0.2em;
  margin-top: 20px;
  font-weight: 700;
  line-height: 1.4em;
  border-radius: 50px;
}
.btnbuy:hover,
.btncart:hover {
  background-color: white;
  color: black;
  transition-duration: 0.5s;
  cursor: pointer;
}

.divider{
  border-top: 1px solid #eaeaea;
  text-align: right;
  padding-top: 10px;
  align-items: right;
}