@font-face {
  font-family: logos;
  src: url(./rr-beaver/beaver.ttf);
}

.container {
  padding: 0;
}
.main{
  margin: 0 auto;
  padding-top: 2%;
}


.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #c0c0c0;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
  color: aliceblue;
}
.title:hover{
  color: #eaeaea;
}
.title {
  margin: 0;
  color: white;
  letter-spacing: 0.1em;
  font-size: 36px;
  font-family: logos !important;
}
.card:hover{
  color: #eaeaea;
}
.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
 margin-left: auto;
}
.card h6{
  color:aqua;
  letter-spacing: 0.1em;
  font-size: 18px;
  padding-top: 5%;
}
.card:hover,
.card:focus,
.card:active {
  color: #e5e9ee;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
} 

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.cartcount{
  background-color: red;
  padding: 5px;
  margin: 5px;
  border-radius: 80px;
  margin-right: 20px;
}

.navlink{
  padding: 10% 0px;
  /* background-color: blue;//style={{ fontWeight: "100", letterSpacing: "0.07em" }} */
  font-weight: 300;
  font-size: 19px;
  letter-spacing: 0.09em;
  margin-right: 20px;
}
.navlink:hover a{
  text-decoration: none;
  color: rgb(197, 190, 180);
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card{
    margin: 3% auto;
  }
  .navlink{
    margin: 2% 0px;
    padding: 0px;
  }
}
